#mail_debug = yes
#ssl_dh = /etc/ssl/dhparams.pem # Dovecot > 2.3
auth_mechanisms = plain login
auth_verbose = yes
disable_plaintext_auth = yes
mail_debug = no
mail_location = maildir:~/maildir
mail_plugins = zlib acl quota
protocols = imap lmtp sieve
ssl = required
ssl_cert = </etc/ssl/certs/ssl-cert-snakeoil.pem
ssl_cipher_list = AES128+EECDH:AES128+EDH
ssl_dh_parameters_length = 4096
ssl_key = </etc/ssl/private/ssl-cert-snakeoil.key
ssl_prefer_server_ciphers = yes
ssl_protocols = !SSLv3
verbose_proctitle = yes

passdb {
    driver = passwd-file
    args = username_format=%u /var/vmail/auth.d/%d/passwd
}

userdb {
    #driver = passwd-file
    #args = username_format=%u /var/vmail/auth.d/%d/passwd
    
    # skip uid,gid and home setting in passwd file
    driver = static
    args = uid=vmail gid=vmail home=/var/vmail/mails/%d/users/%n
}

service imap-login {
    inet_listener imap {
        port = 143
    }
    inet_listener imaps {
        port = 0
    }
}

service auth {
    user = doveauth
    unix_listener /var/spool/postfix/private/auth {
        group = postfix
        mode = 0660
        user = postfix
    }
}

service auth-worker {
    user = doveauth
}

service lmtp {
    unix_listener /var/spool/postfix/private/dovecot-lmtp {
        group = postfix
        mode = 0660
        user = postfix
    }
}

service managesieve-login {
    inet_listener sieve {
        port = 4190
    }
}

protocol imap {
    mail_plugins = $mail_plugins imap_acl imap_quota imap_sieve mail_log notify
    mail_max_userip_connections = 20
    imap_idle_notify_interval = 29 mins
}

protocol lmtp {
    mail_plugins = $mail_plugins sieve
}

plugin {
    acl = vfile:/var/vmail/mails/%d/acls:cache_secs=300

    quota = dict:user::file:%h/maildir/dovecot-quota
    quota_rule = *:storage=100MB
    quota_rule2 = Trash:storage=+10%%

    sieve = ~/.dovecot.sieve
    sieve_dir = ~/sieve
    sieve_global_dir = /var/vmail/mails/%d/sieve
}

namespace {
    hidden = no
    inbox = yes
    prefix =
    separator = /
    subscriptions = yes
    type = private
    
    #mailbox Spam {
    #    auto = subscribe
    #    special_use = \Junk
    #}
    mailbox Trash {
        auto = subscribe
        special_use = \Trash
    }
    mailbox Drafts {
        auto = subscribe
        special_use = \Drafts
    }
    mailbox Sent {
        auto = subscribe
        special_use = \Sent
    }
}

namespace {
    list = yes
    location = maildir:/var/vmail/public:LAYOUT=fs:INDEX=~/public
    prefix = Public/
    separator = /
    subscriptions = no
    type = public
}
