AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
MaxAuthTries 1
PasswordAuthentication yes
PermitRootLogin prohibit-password
Port 22
PrintMotd no
Protocol 2
PubkeyAuthentication yes
StrictModes yes
Subsystem sftp internal-sftp
UsePAM yes
X11Forwarding yes
Match Group sftponly
    AllowAgentForwarding no
    AllowTcpForwarding no
    ChrootDirectory %h
    ForceCommand internal-sftp
    PermitTTY no
    PermitTunnel no
    X11Forwarding no
